<footer class="footer">
    <section class="container">
      ©
      {{ if (and .Site.Params.since (lt .Site.Params.since now.Year)) }}
        {{ .Site.Params.since }} -
      {{ end }}
      {{ now.Year }}
      {{ with .Site.Params.author }} {{ . }} {{ end }}
      •
      {{ if (i18n "impressum") }}
        <a href='{{ "impressum" | relLangURL }}'>{{ i18n "impressum" }}</a>
        &amp;
      {{ end }}
      <a href='{{ "privacy" | relLangURL }}'>{{ i18n "privacy" }}</a>
      •
      {{ if (and .Site.Params.license) }}
        {{ i18n "licensed_under" }} {{ .Site.Params.license | safeHTML }}
      •
      {{ end }}
      {{ i18n "powered_by" }} <a href="https://gohugo.io/">Hugo</a> & <a href="https://github.com/luizdepra/hugo-coder/">Coder</a>
      {{ if (and .Site.Params.commit .GitInfo) }}
        [<a href="{{ .Site.Params.commit }}/{{ .GitInfo.Hash }}">{{ .GitInfo.AbbreviatedHash }}</a>]
      {{ end }}
    </section>
  </footer>
  